<style>
  #start {
    width: 8em;
    height: 8em;
    font-size: 20px;
    margin: 20px;
    margin-top: 40px;
  }
</style>

<h1 class="text-center">模擬參數設定</h1>
<div class="col-md-8 col-md-offset-4" id="app">
  <form action="SkylinePathResult" class="form" method="post" role="form">
    <div class="form-group col-md-3">
      <div class="form-group">
        <h3>設定資料集</h3>
        <div class="radio">
          <label>
            <input type="radio" name="data_set" id="data_set_1" value="salu" v-model="dataset">
            沙鹿地區
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="data_set" id="data_set_2" value="longjing" v-model="dataset">
            龍井地區
          </label>
        </div>
      </div>
      <h3>設定搜尋條件</h3>
      <div class="form-group">
        <label for="query">位置設定</label>
        <select class="form-control" id="query" v-model="query" name="query">
          <option value="center">人口中心點</option>
          <option value="srcDest">起訖點</option>
        </select>
      </div>
      <div class="centerQuery" v-if="query === 'center'">
        <div class="form-group">
          <label for="source">人口中心點</label>
          <input type="number" class="form-control" id="center" name="center" min="0" v-model="center">
        </div>
      </div>

      <div class="sourceDest" v-if="query === 'srcDest'">
        <div class="form-group">
          <label for="source">起點</label>
          <input type="number" class="form-control" id="source" name="source" min="0" v-model="source">
        </div>
        <div class="form-group">
          <label for="source">終點</label>
          <input type="number" class="form-control" id="dest" name="dest" min="0" v-model="dest">
        </div>
      </div>

      <div class="form-group">
        <label for="z_radio">是否正規化</label>
        <div class="radio">
          <label>
            <input type="radio" name="z_radio" id="zRadio2" value="false" v-model="normalize">
            普通維度
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="z_radio" id="zRadio1" value="true" v-model="normalize">
            正規化維度
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="z_radio">挑選雨量</label>
        <div class="radio">
          <label>
            <input type="radio" name="rain" id="rain1" value="150" v-model="rain">
            150mm
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="rain" id="rain2" value="200" v-model="rain">
            200mm
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="rain" id="rain3" value="250" v-model="rain">
            250mm
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="rain" id="rain4" value="300" v-model="rain">
            300mm
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="rain" id="rain5" value="350" v-model="rain">
            350mm
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="rain" id="rain6" value="400" v-model="rain">
            400mm
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="rain" id="rain7" value="450" v-model="rain">
            450mm
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="rain" id="rain8" value="500" v-model="rain">
            500mm
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="rain" id="rain9" value="550" v-model="rain">
            550mm
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="rain" id="rain10" value="600" v-model="rain">
            600mm
          </label>
        </div>
      </div>

    </div>
    <div class="form-group col-md-4">
      <h3>條件倍數設定</h3>
      <div class="form-group">
        <label>路寬</label>
        <input type="number" class="form-control" id="dim_1" name="dim_input_1" min="0" v-model="dim1" step="0.000001"/>
      </div>
      <div class="form-group">
        <label>長度</label>
        <input type="number" class="form-control" id="dim_2" name="dim_input_2" min="0.000001" v-model="dim2" step="0.000001"/>
      </div>
      <div class="form-group">
        <label>mm</label>
        <input type="number" class="form-control" id="dim_3" name="dim_input_3" min="0.000001" v-model="dim3" step="0.000001"/>
      </div>
      <p>{{location}}</p>
      <p>{{params}}</p>
      <div class="form-group col-md-2">
        <button type="submit" id="start" class="btn btn-primary" onclick='showloading()'>開始計算</button>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript" src="https://unpkg.com/vue@2.2.2"></script>
<script type="text/javascript">

// jquery
$('#start').click(function() {
  $.blockUI({
    message: "<h3>計算中，請稍後...<h3>",
    css: {
      border: 'none',
      padding: '5px',
      'background-color': 'transparent',
      '-webkit-border-radius': '10px',
      '-moz-border-radius': '10px',
      opacity: .6,
      color: '#fff',
      cursor: 'wait'
    }
  });
});

// vuejs
var app = new Vue({
  el: '#app',
  data: {
    dataset: 'salu',
    query: 'center',
    center: '106416',
    source: '8490',
    dest: '8298',
    normalize: 'false',
    rain: '150',
    dim1: '1',
    dim2: '1',
    dim3: '1'
  },
  computed: {
    location: function() {
      var datasetText

      if (this.dataset === 'salu') {
        datasetText = '沙鹿'
      } else {
        datasetText = '龍井'
      }

      if (this.query === 'center') {
        return '位置: ' + datasetText + '地區的' + this.center + '節點上'
      } else {
        return '位置: ' + datasetText + '地區的' + this.source + '到' + this.dest
      }
    },
    params: function() {
      var normalizeText

      if (this.normalize === 'false') {
        normalizeText = '普通維度'
      } else {
        normalizeText = '正規化維度'
      }

      return '參數: ' + '在' + this.rain + 'mm的'+ normalizeText + '下'
    },
  }
})
</script>
